# Práctica 3

## Ejercicio 4

## Autores : Jorge Martín Pastor y Juan Serrano Vara

## 26 nov 2018

<h1 align = "center" style="background-color:powderblue;"> Importamos las librerias</h1>

In [1]:
%reset
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import metrics
from sklearn import datasets, svm, metrics
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import load_digits
import matplotlib.pyplot as plt 

from sklearn.naive_bayes import GaussianNB

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

<h1 align = "center" style="background-color:powderblue;"> Importamos los datos</h1>

In [2]:
Datos = pd.read_csv("lluvias.csv")
Datos

             DATE  PRCP  TMAX  TMIN   RAIN
0      1948-01-01  0.47    51    42   True
1      1948-01-02  0.59    45    36   True
2      1948-01-03  0.42    45    35   True
3      1948-01-04  0.31    45    34   True
4      1948-01-05  0.17    45    32   True
5      1948-01-06  0.44    48    39   True
6      1948-01-07  0.41    50    40   True
7      1948-01-08  0.04    48    35   True
8      1948-01-09  0.12    50    31   True
9      1948-01-10  0.74    43    34   True
10     1948-01-11  0.01    42    32   True
11     1948-01-12  0.00    41    26  False
12     1948-01-13  0.00    45    29  False
13     1948-01-14  0.00    38    26  False
14     1948-01-15  0.00    34    31  False
15     1948-01-16  0.00    34    28  False
16     1948-01-17  0.00    35    29  False
17     1948-01-18  0.00    33    28  False
18     1948-01-19  0.00    34    27  False
19     1948-01-20  0.00    36    29  False
20     1948-01-21  0.00    48    32  False
21     1948-01-22  0.21    47    44   True
22     1948-01-23  0.00    47    43  False
23     1948-01-24  0.10    45    34   True
24     1948-01-25  0.00    46    30  False
25     1948-01-26  0.00    45    32  False
26     1948-01-27  0.00    53    33  False
27     1948-01-28  0.00    53    25  False
28     1948-01-29  0.22    42    34   True
29     1948-01-30  0.03    47    30   True
...           ...   ...   ...   ...    ...
25521  2017-11-15  0.46    53    43   True
25522  2017-11-16  0.16    44    42   True
25523  2017-11-17  0.00    50    42  False
25524  2017-11-18  0.00    52    41  False
25525  2017-11-19  0.58    53    39   True
25526  2017-11-20  0.63    50    41   True
25527  2017-11-21  1.14    60    38   True
25528  2017-11-22  0.52    68    56   True
25529  2017-11-23  0.20    59    48   True
25530  2017-11-24  0.01    52    46   True
25531  2017-11-25  0.19    51    43   True
25532  2017-11-26  0.25    58    42   True
25533  2017-11-27  0.00    50    42  False
25534  2017-11-28  0.68    47    43   True
25535  2017-11-29  0.00    50    41  False
25536  2017-11-30  0.27    46    41   True
25537  2017-12-01  0.27    48    38   True
25538  2017-12-02  0.79    44    41   True
25539  2017-12-03  0.05    46    39   True
25540  2017-12-04  0.00    45    34  False
25541  2017-12-05  0.00    45    33  False
25542  2017-12-06  0.00    52    36  False
25543  2017-12-07  0.00    52    34  False
25544  2017-12-08  0.00    43    29  False
25545  2017-12-09  0.00    44    29  False
25546  2017-12-10  0.00    49    34  False
25547  2017-12-11  0.00    49    29  False
25548  2017-12-12  0.00    46    32  False
25549  2017-12-13  0.00    48    34  False
25550  2017-12-14  0.00    50    36  False

[25551 rows x 5 columns]

<h1 style="background-color:powderblue;"> EJERCICO 1</h1>

<h1 align = "center" style="background-color:powderblue;"> Preprocesamiento de los datos</h1>

### Cambiamos la temperatura a grados centigrados

In [3]:
Datos['TMAX'] = (Datos['TMAX']-32)*(5/9)
Datos['TMIN'] = (Datos['TMIN']-32)*(5/9)
Datos

             DATE  PRCP       TMAX       TMIN   RAIN
0      1948-01-01  0.47  10.555556   5.555556   True
1      1948-01-02  0.59   7.222222   2.222222   True
2      1948-01-03  0.42   7.222222   1.666667   True
3      1948-01-04  0.31   7.222222   1.111111   True
4      1948-01-05  0.17   7.222222   0.000000   True
5      1948-01-06  0.44   8.888889   3.888889   True
6      1948-01-07  0.41  10.000000   4.444444   True
7      1948-01-08  0.04   8.888889   1.666667   True
8      1948-01-09  0.12  10.000000  -0.555556   True
9      1948-01-10  0.74   6.111111   1.111111   True
10     1948-01-11  0.01   5.555556   0.000000   True
11     1948-01-12  0.00   5.000000  -3.333333  False
12     1948-01-13  0.00   7.222222  -1.666667  False
13     1948-01-14  0.00   3.333333  -3.333333  False
14     1948-01-15  0.00   1.111111  -0.555556  False
15     1948-01-16  0.00   1.111111  -2.222222  False
16     1948-01-17  0.00   1.666667  -1.666667  False
17     1948-01-18  0.00   0.555556  -2.222222  False
18     1948-01-19  0.00   1.111111  -2.777778  False
19     1948-01-20  0.00   2.222222  -1.666667  False
20     1948-01-21  0.00   8.888889   0.000000  False
21     1948-01-22  0.21   8.333333   6.666667   True
22     1948-01-23  0.00   8.333333   6.111111  False
23     1948-01-24  0.10   7.222222   1.111111   True
24     1948-01-25  0.00   7.777778  -1.111111  False
25     1948-01-26  0.00   7.222222   0.000000  False
26     1948-01-27  0.00  11.666667   0.555556  False
27     1948-01-28  0.00  11.666667  -3.888889  False
28     1948-01-29  0.22   5.555556   1.111111   True
29     1948-01-30  0.03   8.333333  -1.111111   True
...           ...   ...        ...        ...    ...
25521  2017-11-15  0.46  11.666667   6.111111   True
25522  2017-11-16  0.16   6.666667   5.555556   True
25523  2017-11-17  0.00  10.000000   5.555556  False
25524  2017-11-18  0.00  11.111111   5.000000  False
25525  2017-11-19  0.58  11.666667   3.888889   True
25526  2017-11-20  0.63  10.000000   5.000000   True
25527  2017-11-21  1.14  15.555556   3.333333   True
25528  2017-11-22  0.52  20.000000  13.333333   True
25529  2017-11-23  0.20  15.000000   8.888889   True
25530  2017-11-24  0.01  11.111111   7.777778   True
25531  2017-11-25  0.19  10.555556   6.111111   True
25532  2017-11-26  0.25  14.444444   5.555556   True
25533  2017-11-27  0.00  10.000000   5.555556  False
25534  2017-11-28  0.68   8.333333   6.111111   True
25535  2017-11-29  0.00  10.000000   5.000000  False
25536  2017-11-30  0.27   7.777778   5.000000   True
25537  2017-12-01  0.27   8.888889   3.333333   True
25538  2017-12-02  0.79   6.666667   5.000000   True
25539  2017-12-03  0.05   7.777778   3.888889   True
25540  2017-12-04  0.00   7.222222   1.111111  False
25541  2017-12-05  0.00   7.222222   0.555556  False
25542  2017-12-06  0.00  11.111111   2.222222  False
25543  2017-12-07  0.00  11.111111   1.111111  False
25544  2017-12-08  0.00   6.111111  -1.666667  False
25545  2017-12-09  0.00   6.666667  -1.666667  False
25546  2017-12-10  0.00   9.444444   1.111111  False
25547  2017-12-11  0.00   9.444444  -1.666667  False
25548  2017-12-12  0.00   7.777778   0.000000  False
25549  2017-12-13  0.00   8.888889   1.111111  False
25550  2017-12-14  0.00  10.000000   2.222222  False

[25551 rows x 5 columns]

### Categorizamos las columnas TMIN y TMAX

Se considera que la temperatura es baja si está por debajo de 10 grados, media si está entre 10 y 20 y alta si está por encima de 20.

In [4]:
Baja=1
Media=2
Alta =3

Datos['TMIN'] = pd.cut(Datos['TMIN'], bins=[float("-inf"), 10, 20, float("inf")], labels=[Baja,Media,Alta])
Datos['TMAX'] = pd.cut(Datos['TMAX'], bins=[float("-inf"), 10, 20, float("inf")], labels=[Baja,Media,Alta])
Datos

             DATE  PRCP TMAX TMIN   RAIN
0      1948-01-01  0.47    2    1   True
1      1948-01-02  0.59    1    1   True
2      1948-01-03  0.42    1    1   True
3      1948-01-04  0.31    1    1   True
4      1948-01-05  0.17    1    1   True
5      1948-01-06  0.44    1    1   True
6      1948-01-07  0.41    1    1   True
7      1948-01-08  0.04    1    1   True
8      1948-01-09  0.12    1    1   True
9      1948-01-10  0.74    1    1   True
10     1948-01-11  0.01    1    1   True
11     1948-01-12  0.00    1    1  False
12     1948-01-13  0.00    1    1  False
13     1948-01-14  0.00    1    1  False
14     1948-01-15  0.00    1    1  False
15     1948-01-16  0.00    1    1  False
16     1948-01-17  0.00    1    1  False
17     1948-01-18  0.00    1    1  False
18     1948-01-19  0.00    1    1  False
19     1948-01-20  0.00    1    1  False
20     1948-01-21  0.00    1    1  False
21     1948-01-22  0.21    1    1   True
22     1948-01-23  0.00    1    1  False
23     1948-01-24  0.10    1    1   True
24     1948-01-25  0.00    1    1  False
25     1948-01-26  0.00    1    1  False
26     1948-01-27  0.00    2    1  False
27     1948-01-28  0.00    2    1  False
28     1948-01-29  0.22    1    1   True
29     1948-01-30  0.03    1    1   True
...           ...   ...  ...  ...    ...
25521  2017-11-15  0.46    2    1   True
25522  2017-11-16  0.16    1    1   True
25523  2017-11-17  0.00    1    1  False
25524  2017-11-18  0.00    2    1  False
25525  2017-11-19  0.58    2    1   True
25526  2017-11-20  0.63    1    1   True
25527  2017-11-21  1.14    2    1   True
25528  2017-11-22  0.52    2    2   True
25529  2017-11-23  0.20    2    1   True
25530  2017-11-24  0.01    2    1   True
25531  2017-11-25  0.19    2    1   True
25532  2017-11-26  0.25    2    1   True
25533  2017-11-27  0.00    1    1  False
25534  2017-11-28  0.68    1    1   True
25535  2017-11-29  0.00    1    1  False
25536  2017-11-30  0.27    1    1   True
25537  2017-12-01  0.27    1    1   True
25538  2017-12-02  0.79    1    1   True
25539  2017-12-03  0.05    1    1   True
25540  2017-12-04  0.00    1    1  False
25541  2017-12-05  0.00    1    1  False
25542  2017-12-06  0.00    2    1  False
25543  2017-12-07  0.00    2    1  False
25544  2017-12-08  0.00    1    1  False
25545  2017-12-09  0.00    1    1  False
25546  2017-12-10  0.00    1    1  False
25547  2017-12-11  0.00    1    1  False
25548  2017-12-12  0.00    1    1  False
25549  2017-12-13  0.00    1    1  False
25550  2017-12-14  0.00    1    1  False

[25551 rows x 5 columns]

### Categorizamos la columna PRCP

Se considera que ha llovido poco si la medida está por debajo de 1, normal si está entre 1 y 2, y que ha llovido mucho si está por encima de 2.

In [5]:
Poco=1
Normal=2
Mucho =3

Datos['PRCP'] = pd.cut(Datos['PRCP'], bins=[0, 1, 2, float("inf")], include_lowest = True, labels=[Poco,Normal,Mucho])

### Categorizamos la columna RAIN

In [6]:
Datos['RAIN'] = Datos.RAIN.astype('category').cat.codes.astype(int)

### Quitamos los NAN

In [7]:
Datos = Datos.dropna()

# Resultado datos preprocesados

In [8]:
Datos

             DATE PRCP TMAX TMIN  RAIN
0      1948-01-01    1    2    1     1
1      1948-01-02    1    1    1     1
2      1948-01-03    1    1    1     1
3      1948-01-04    1    1    1     1
4      1948-01-05    1    1    1     1
5      1948-01-06    1    1    1     1
6      1948-01-07    1    1    1     1
7      1948-01-08    1    1    1     1
8      1948-01-09    1    1    1     1
9      1948-01-10    1    1    1     1
10     1948-01-11    1    1    1     1
11     1948-01-12    1    1    1     0
12     1948-01-13    1    1    1     0
13     1948-01-14    1    1    1     0
14     1948-01-15    1    1    1     0
15     1948-01-16    1    1    1     0
16     1948-01-17    1    1    1     0
17     1948-01-18    1    1    1     0
18     1948-01-19    1    1    1     0
19     1948-01-20    1    1    1     0
20     1948-01-21    1    1    1     0
21     1948-01-22    1    1    1     1
22     1948-01-23    1    1    1     0
23     1948-01-24    1    1    1     1
24     1948-01-25    1    1    1     0
25     1948-01-26    1    1    1     0
26     1948-01-27    1    2    1     0
27     1948-01-28    1    2    1     0
28     1948-01-29    1    1    1     1
29     1948-01-30    1    1    1     1
...           ...  ...  ...  ...   ...
25521  2017-11-15    1    2    1     1
25522  2017-11-16    1    1    1     1
25523  2017-11-17    1    1    1     0
25524  2017-11-18    1    2    1     0
25525  2017-11-19    1    2    1     1
25526  2017-11-20    1    1    1     1
25527  2017-11-21    2    2    1     1
25528  2017-11-22    1    2    2     1
25529  2017-11-23    1    2    1     1
25530  2017-11-24    1    2    1     1
25531  2017-11-25    1    2    1     1
25532  2017-11-26    1    2    1     1
25533  2017-11-27    1    1    1     0
25534  2017-11-28    1    1    1     1
25535  2017-11-29    1    1    1     0
25536  2017-11-30    1    1    1     1
25537  2017-12-01    1    1    1     1
25538  2017-12-02    1    1    1     1
25539  2017-12-03    1    1    1     1
25540  2017-12-04    1    1    1     0
25541  2017-12-05    1    1    1     0
25542  2017-12-06    1    2    1     0
25543  2017-12-07    1    2    1     0
25544  2017-12-08    1    1    1     0
25545  2017-12-09    1    1    1     0
25546  2017-12-10    1    1    1     0
25547  2017-12-11    1    1    1     0
25548  2017-12-12    1    1    1     0
25549  2017-12-13    1    1    1     0
25550  2017-12-14    1    1    1     0

[25548 rows x 5 columns]

Preparamos datos para el entrenamiento y la clasificación

In [9]:
X = Datos.drop(['RAIN','DATE'], axis=1) 
Y = Datos['RAIN']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20,shuffle= False)

<h1 style="background-color:powderblue;"> EJERCICO 2</h1>

<h1 align = "center" style="background-color:powderblue;"> Crea un clasificador e indica su error</h1>

La validación del modelo se podría realizar con score, pero hemos preferido realizarlo nosotros manualmente prediciendo y comparando con el resultado esperado.

In [11]:
# Construimos el clasificador
classifier = GaussianNB()

# Entrenamos el clasificador
classifier.fit(X_train, y_train)

# Predecimos 
predicted = classifier.predict(X_test)

# Las siguientes matrices nos indican el nivel de precisión de la predicción
print("Classification report for classifier %s:\n%s\n"
      % (classifier, metrics.classification_report(y_test, predicted)))
print("Confusion matrix:\n%s" % metrics.confusion_matrix(y_test, predicted))

Classification report for classifier GaussianNB(priors=None):
             precision    recall  f1-score   support

          0       0.57      1.00      0.73      2877
          1       1.00      0.04      0.07      2233

avg / total       0.76      0.58      0.44      5110


Confusion matrix:
[[2877    0]
 [2148   85]]

### Explicación de las variables de la tabla mostrada con anterioridad

<img src="explicacion precision.png"/>